.for_artical_bloger_open{
    width:100%;
    max-width: 100%;
    height:100vh;
    background:url("./img/Desskttop.png") center center no-repeat;
    background-size: cover;
}
.bloh_page_h1_one{
    text-align: center;
    color:white;
    font-size:37px;
    font-family: "TTNorms-Bold";
    padding-top:430px;
    line-height: 53px;
}
.bloh_page_h2_one{
    font-size:25px;
    width:1000px;
    margin:0 auto;
    height:auto;
    max-width: 100%;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    font-family: "TTNorms-Regular";
    padding-top:67px;
    
}
@media(max-width:1250px){
    .for_artical_bloger_open{
        height:auto;
        padding-bottom:40px;
    }
}
@media(max-width:768px){
    .for_artical_bloger_open{
        background:url("./img/Ipadhpne.png") center center no-repeat;
        background-size: cover; 
        height: auto;
    }
    .bloh_page_h1_one{
        font-size:25px;
        line-height: 30px;
        padding-top:160px;
        word-break: break-word;
    }
    
    .bloh_page_h2_one{
        font-size:23px;
        line-height: 27px;
        padding-top:30px;
        width:600px;
        max-width: 100%;
        margin:0 auto;
    }
}
@media(max-width:414px){
    .for_artical_bloger_open{
        background:url("./img/Group123.png") center center no-repeat;
        background-size: cover; 
        height: auto;
        padding-top:50px;
    }
    .bloh_page_h1_one{
        font-size:25px;
        line-height: 30px;
        padding-top:80px;
        text-align: left;
        padding-left:15px;
    }
    .bloh_page_h2_one{
        font-size:12px;
        line-height: 14px;
        width:330px;
        max-width: 100%;
        margin:0 auto;
        padding-top:30px;
        
    }
}